@{
    //load file Layout.cshtml vao day
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}
@* Để phân trang thì using các đối tượng sau *@
@using X.PagedList
@using X.PagedList.Mvc.Core
@using project.Models
@functions{
    public MyDbContext db = new MyDbContext();
    //hàm liệt kê các danh mục tương ứng với id sản phẩm
    public string ListCategoriesProductsName(int _ProductId)
    {
        //lấy các danh mục trong table CatgoriesProducts tương ứng với _ProductId
        List<ItemCategoriesProducts> list_categories_products = db.CategoriesProducts.Where(item=>item.ProductId == _ProductId).ToList();
        //lấy các danh mục tương ứng với id danh mục vừa lấy ở trên
        string str = "";
        foreach(var item_category_product in list_categories_products)
        {
            ItemCategory record_category = db.Categories.Where(item => item.Id == item_category_product.CategoryId).FirstOrDefault();
            if(record_category != null)
            {
                str += "<div>" + record_category.Name + "</div>";
            }
        }
        return str;
    }
    //hàm liệt kê các tag tương ứng với id sản phẩm
    public string ListTagsProductsName(int _ProductId)
    {
        //lấy các danh mục trong table CatgoriesProducts tương ứng với _ProductId
        List<ItemTagProduct> list_tags_products = db.TagsProducts.Where(item => item.ProductId == _ProductId).ToList();
        //lấy các danh mục tương ứng với id danh mục vừa lấy ở trên
        string str = "";
        foreach (var item_tag_product in list_tags_products)
        {
            ItemTag record_tag = db.Tags.Where(item => item.Id == item_tag_product.TagId).FirstOrDefault();
            if (record_tag != null)
            {
                str += "<div>" + record_tag.Name + "</div>";
            }
        }
        return str;
    }
}
<div class="col-md-12">
    <div style="margin-bottom:5px;">
        <a href="/Admin/Products/Create" class="btn btn-primary">Add product</a>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">List product</div>
        <div class="panel-body">
            <table class="table table-bordered table-hover">
                <tr>
                    <th style="width:100px;">Photo</th>
                    <th>Name</th>
                    <th style="width:200px;">Categories</th>
                    <th style="width:100px;">Tags</th>
                    <th style="width:80px;">Price</th>
                    <th style="width:80px;">Discount</th>
                    <th style="width:80px; text-align:center;">Hot</th>
                    <th style="width:100px;"></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @if (!String.IsNullOrEmpty(item.Photo) && File.Exists(Directory.GetCurrentDirectory() + "\\wwwroot\\Upload\\Products\\" + item.Photo))
                            {
                                <img src="~/Upload/Products/@item.Photo" style="width:100px;">
                            }
                        </td>
                        <td>@item.Name</td>
                        <td>@Html.Raw(ListCategoriesProductsName(item.Id))</td>
                        <td>@Html.Raw(ListTagsProductsName(item.Id))</td>
                        <td style="text-align:center">@string.Format("{0:#,#.}",item.Price) $</td>
                        <td style="text-align:center">@item.Discount %</td>
                        <td style="text-align:center">
                            @if(item.Hot == 1)
                            {
                                <span class="glyphicon glyphicon-check"></span>
                            }
                        </td>
                        <td style="text-align:center;">
                            <a href="/Admin/Products/Update/@item.Id">Edit</a>&nbsp;
                            <a href="/Admin/Products/Delete/@item.Id" onclick="return window.confirm('Are you sure?');">Delete</a>
                        </td>
                    </tr>
                }
            </table>
            <style type="text/css">
                .pagination {
                    padding: 0px;
                    margin: 0px;
                }
            </style>
            @* Hàm sau sẽ thực hiện việc hiển thị phân trang *@
            @Html.PagedListPager((IPagedList)Model,p=>Url.Action("Index", new {page = p}))
        </div>
    </div>
</div>