@{
    //load file Layout.cshtml vao day
    Layout = "~/Views/Shared/Layout.cshtml";
}
@using project.Models;
@using lab1.Models;
@using lab1.MyClass;
@functions {
	public MyDbContext db = new MyDbContext();
	public List<ItemSlide> Slides()
	{
		List<ItemSlide> list_record = db.Slides.OrderByDescending(item => item.Id).ToList();
		return list_record;
	}
	public List<ItemProducts> OnSale()
	{
		//skip(0) -> tu ban ghi nao
		//take(10) -> lay 10 ban ghi
		List<ItemProducts> list_record = db.Products.Where(item => item.Discount > 0).OrderByDescending(item => item.Id).Skip(0).Take(10).ToList();
		return list_record;

	}
	//San pham moi nhat
	public List<ItemProducts> LastestProduct()
	{
		//skip(0) -> tu ban ghi nao
		//take(10) -> lay 10 ban ghi
		List<ItemProducts> list_record = db.Products.OrderByDescending(item => item.Id).Skip(0).Take(10).ToList();
		return list_record;
	}
	//Liet ke cac danh muc
	public List<ItemCategory> Categories()
	{
		
		List<ItemCategory> list_record = db.Categories.Where(item=>item.DisplayHomePage==1).OrderByDescending(item => item.Id).ToList();
		return list_record;
	}
	public List<ItemCategoriesProducts> CategoriesProduct(int _CategoryId)
	{
		//lay cac id san pham trong danh muc
		//List<ItemCategoriesProducts> list_products = db.CategoriesProducts.Where(item => item.CategoryId == _CategoryId).OrderByDescending(item => item.Id).ToList();
		List<ItemCategoriesProducts> list_record = db.CategoriesProducts.OrderByDescending(item => item.Id).Skip(0).Take(10).ToList();
		return list_record;
	}
	public List<ItemProducts> ProductsInCategory(int _CategoryId)
	{
		//---
		var list_products = db.CategoriesProducts.Where(item => item.CategoryId == _CategoryId).Select(item => new { item.ProductId });
		List<int> id_products = new List<int>();
		foreach (var item in list_products)
		{
			id_products.Add(item.ProductId);
		}
		//---
		//lấy các sản phẩm có id thuộc danh sách id của list_products
		List<ItemProducts> list_record = db.Products.Where(item => id_products.Contains(item.Id)).OrderByDescending(item => item.Id).Skip(0).Take(10).ToList();
		return list_record;
	}
	public List<ItemBlog> Blog()
	{
		List<ItemBlog> list_record = db.Blog.OrderByDescending(item => item.Id).ToList();
		return list_record;
	}

}


<section class="section-slide">
		<div class="wrap-slick1">
			<div class="slick1">
			@{
				List<ItemSlide> list_slide = Slides();
			}
			@foreach (var item in list_slide)
			{
				<div class="item-slick1" style="background-image: url(/Upload/Slides/@item.Photo);">
					<div class="container h-full">
						<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
							<div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
								<span class="ltext-101 cl2 respon2">
									@item.Title
								</span>
							</div>

							<div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
								<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
									@item.SubTitle
								</h2>
							</div>
							<div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
								<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
									@item.Info
								</h2>
							</div>

							<div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">
								<a href="@item.Link" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
									Shop Now
								</a>
							</div>
						</div>
					</div>
				</div>		
			}								
			</div>
		</div>
	</section>


	<!-- Banner -->
	<div class="sec-banner bg0 p-t-80 p-b-50">
		<div class="container">
			<div class="row">
			@{
				//Lay trai duoi slide( position = 1)
				List<ItemAdv> adv1 = Helper.GetAdv(1);

			}
			@foreach (var item in adv1)
			{
				<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="block1 wrap-pic-w">
						<img src="~/Upload/Adv/@item.Photo" alt="IMG-BANNER">

						<a href="product.html" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
							<div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8">
									Men
								</span>

								<span class="block1-info stext-102 trans-04">
									Spring 2023
								</span>
							</div>

							<div class="block1-txt-child2 p-b-4 trans-05">
								<div class="block1-link stext-101 cl0 trans-09">
									Shop Now
								</div>
							</div>
						</a>
					</div>
				</div>						
			}	
			@{
				//Lay trai duoi slide( position = 2)
				List<ItemAdv> adv2 = Helper.GetAdv(2);

			}
			@foreach (var item in adv2)
			{
				<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="block1 wrap-pic-w">
						<img src="~/Upload/Adv/@item.Photo" alt="IMG-BANNER">

						<a href="product.html" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
							<div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8">
									Women
								</span>

								<span class="block1-info stext-102 trans-04">
									Spring 2023
								</span>
							</div>

							<div class="block1-txt-child2 p-b-4 trans-05">
								<div class="block1-link stext-101 cl0 trans-09">
									Shop Now
								</div>
							</div>
						</a>
					</div>
				</div>
			}
			@{
				//Lay trai duoi slide( position = 3)
				List<ItemAdv> adv3 = Helper.GetAdv(3);

			}
			@foreach (var item in adv3)
			{
				<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="block1 wrap-pic-w">
						<img src="~/Upload/Adv/@item.Photo" alt="IMG-BANNER">

						<a href="product.html" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
							<div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8">
									New Trend
								</span>

								<span class="block1-info stext-102 trans-04">
									Spring 2023
								</span>
							</div>

							<div class="block1-txt-child2 p-b-4 trans-05">
								<div class="block1-link stext-101 cl0 trans-09">
									Shop Now
								</div>
							</div>
						</a>
					</div>
				</div>
			}
			

		</div>
		</div>
	</div>
						

<!-- Product -->
<section class="sec-product bg0 p-t-100 p-b-50">
	<div class="container">
		<div class="p-b-32">
			<h3 class="ltext-105 cl5 txt-center respon1">
				Store Overview
			</h3>
		</div>

		<!-- Tab01 -->
		<div class="tab01">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li class="nav-item p-b-10">
					<a class="nav-link active" data-toggle="tab" href="#best-seller" role="tab">Best Seller</a>
				</li>

				<li class="nav-item p-b-10">
					<a class="nav-link" data-toggle="tab" href="#featured" role="tab">Featured</a>
				</li>

				<li class="nav-item p-b-10">
					<a class="nav-link" data-toggle="tab" href="#sale" role="tab">Sale</a>
				</li>

				<li class="nav-item p-b-10">
					<a class="nav-link" data-toggle="tab" href="#top-rate" role="tab">Top Rate</a>
				</li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content p-t-50">
				<!-- - -->
				<div class="tab-pane fade show active" id="best-seller" role="tabpanel">
					<!-- Slide2 -->
					<div class="wrap-slick2">
						<div class="slick2">
							@{
								List<ItemProducts> lastest_product = LastestProduct();
							}
							@foreach (var item in lastest_product)

							{
								<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
									<!-- Block2 -->
									<div class="block2">
										<div class="block2-pic hov-img0">
											<img src="~/Upload/Products/@item.Photo" alt="IMG-PRODUCT">

											<a href="/Cart/Add/@item.Id" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-addcart-detail">
												Add to cart
											</a>
										</div>

										<div class="block2-txt flex-w flex-t p-t-14">
											<div class="block2-txt-child1 flex-col-l ">
												<a href="/Products/Detail/@item.Id" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
													@item.Name
												</a>

												<span class="stext-105 cl3">
													$ @string.Format("{0:#,#.}",item.Price)
												</span>
											</div>

											<div class="block2-txt-child2 flex-r p-t-3">
												<a href="/Wishlist/Add/@item.Id" class="btn-addwish-b2 dis-block pos-relative">
													<img class="icon-heart1 dis-block trans-04" src="~/asset/images/icons/icon-heart-01.png" alt="ICON">
													<img class="icon-heart2 dis-block trans-04 ab-t-l" src="~/asset/images/icons/icon-heart-02.png" alt="ICON">
												</a>
											</div>
											<!-- rating -->
											<div class="wrap-price">
												<div class="product-price">
													<a href="/Products/Rating/@item.Id?star=1" style="margin-right: 3px;"><i class="fa fa-star" style="color:#efce4a;"></i></a>
													<a href="/Products/Rating/@item.Id?star=2" style="margin-right: 3px;"><i class="fa fa-star" style="color:#efce4a;"></i></a>
													<a href="/Products/Rating/@item.Id?star=3" style="margin-right: 3px;"><i class="fa fa-star" style="color:#efce4a;"></i></a>
													<a href="/Products/Rating/@item.Id?star=4" style="margin-right: 3px;"><i class="fa fa-star" style="color:#efce4a;"></i></a>
													<a href="/Products/Rating/@item.Id?star=5" style="margin-right: 3px;"><i class="fa fa-star" style="color:#efce4a;"></i></a>
												</div>
											</div>
											<!-- /rating -->
										</div>
									</div>
								</div>
							}						
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</section>

<!-- Blog -->
<section class="sec-blog bg0 p-t-60 p-b-90">
	<div class="container">
		<div class="p-b-66">
			<h3 class="ltext-105 cl5 txt-center respon1">
				Our Blogs
			</h3>
		</div>		
		<div class="row">
			@{
				List<ItemBlog> list_blog = Blog();
			}
			@foreach (var item in list_blog)
			{
				<div class="col-sm-6 col-md-4 p-b-40">
					<div class="blog-item">
						<div class="hov-img0">
							<a href="/Blog/Detail/@item.Id">
								<img src="~/Upload/Blog/@item.Photo" alt="@item.Title">
							</a>
						</div>

						<div class="p-t-15">
							<div class="stext-107 flex-w p-b-14">
								<span class="m-r-3">
									<span class="cl4">
										By
									</span>

									<span class="cl5">
										@item.Author
									</span>
								</span>

								<span>
									<span class="cl4">
										on
									</span>

									<span class="cl5">
										@item.Time
									</span>
								</span>
							</div>

							<h4 class="p-b-12">
								<a href="/Blog/Detail/@item.Id" class="mtext-101 cl2 hov-cl1 trans-04">
									@item.Title
								</a>
							</h4>

							<div class="stext-108 cl6" style="height: 100px;overflow: hidden;">
								@Html.Raw(item.Content)
							</div>
						</div>
					</div>
				</div>

			}
			
		</div>
	</div>
</section>

