@{
	//Load file Layout.cshtml
		Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";

}

@using project.Models
@using lab1.Models
@functions{
    public MyDbContext db = new MyDbContext();
    public List<ItemCategory> ListCategories()
    {
        List<ItemCategory> list_categories = db.Categories.Where(item=>item.ParentId == 0).OrderByDescending(item => item.Id).ToList();
        return list_categories;
    }
    public List<ItemCategory> ListSubCategories(int _CategoryId)
    {
        List<ItemCategory> list_categories = db.Categories.Where(item => item.ParentId == _CategoryId).OrderByDescending(item => item.Id).ToList();
        return list_categories;
    }
    public List<ItemTag> ListTags()
    {
        List<ItemTag> list_tags = db.Tags.OrderByDescending(item => item.Id).ToList();
        return list_tags;
    }
    //kiểm tra table CategoriesProducts xem có bản ghi tương ứng với CategoryId, ProductId truyền vào không
    public bool CheckCategoriesProductsRecord(int _CategoryId, int _ProductId)
    {
        ItemCategoriesProducts record = db.CategoriesProducts.Where(item => item.CategoryId == _CategoryId && item.ProductId == _ProductId).FirstOrDefault();
        if(record != null)
        {
            return true;
        }
        return false;
    }
    //kiểm tra table TagsProducts xem có bản ghi tương ứng với CategoryId, ProductId truyền vào không
    public bool CheckTagsProductsRecord(int _TagId, int _ProductId)
    {
        ItemTagsProducts record = db.TagsProducts.Where(item => item.TagId == _TagId && item.ProductId == _ProductId).FirstOrDefault();
        if (record != null)
        {
            return true;
        }
        return false;
    }

}


<div class="content">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-md-8">
                            <div class="card" style="padding:20px;">
                                <div class="card-header">
                                    <h4 class="card-title">Products Control</h4>
                                </div>
                                <div class="card-body">
                                    <form method="post" enctype="multipart/form-data" action="@ViewBag.action">


                                        <div class="row" style="margin-top:5px;">
                                            <div class="col-md-3 px-1">
                                                <div class="form-group">
                                                    <label>Name</label>
                                                     <input type="text" value="@if(Model != null){<text>@Model.Name</text>}" name="name" class="form-control" required>
                                                </div>
                                            </div>
                                            <div class="col-md-4 pl-1">
                                                <div class="form-group">
                                                    <label>Price</label>
                                                    <input type="number" value="@if(Model!=null){<text>@Model.Price</text>}else{<text>0</text>}" name="price" class="form-control" required>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row" style="margin-top:5px;">
                                            <div class="col-md-7 px-1">
                                                <label>Photo</label>
                                                <div class="form-group">
                                                      <input type="file" name="photo" class="form-control">
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row" style="margin-top:5px;">
                                            <div class="col-md-12">
                                                <label>Categories</label>
                                                <div class="form-group">
                                                    <div class="col-md-12" style="height:150px; overflow:scroll;">
                                                    <table class="table">
                                                        @{
                                                            List<ItemCategory> list_categories = ListCategories();
                                                        }
                                                        @foreach (var item in list_categories)
                                                        {
                                                             <tr>
                                                                   <td>
                                                                         <input type="checkbox" @if(Model!= null && CheckCategoriesProductsRecord(item.Id,Model.Id)){ <text>checked</text> } value="@item.Id" name="category_@item.Id" id="category_@item.Id" />&nbsp;&nbsp; <label for="category_@item.Id">@item.Name</label>
                                                                   </td>
                                                             </tr>
                                                              List<ItemCategory> list_sub_categories = ListSubCategories(item.Id);
                                                                foreach (var itemSub in list_sub_categories)
                                                                {
                                                                    <tr>
                                                                        <td style="padding-left:30px;">
                                                                            <input type="checkbox" @if(Model!= null && CheckCategoriesProductsRecord(itemSub.Id,Model.Id)){ <text>checked</text> } value="@itemSub.Id" name="category_@itemSub.Id" id="category_@itemSub.Id" />&nbsp;&nbsp; <label for="category_@itemSub.Id">@itemSub.Name</label>
                                                                        </td>
                                                                    </tr>
                                                                }
                                                        }
                                                    </table>
                                                </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="row" style="margin-top:5px;">
                                            <div class="col-md-12 px-1">
                                                <label>Tags</label>
                                                <div class="form-group">
                                                     <div class="col-md-10">
                                                         @{
                                                                List<ItemTag> list_tags = ListTags();
                                                            }
                                                            <!-- thuộc tính multiple sẽ cho phép chọn được nhiều danh mục -->
                                                            <select name="tags" multiple class="form-control">
                                                                @foreach(var item_tag in list_tags)
                                                                {
                                                                    <option @if(Model!= null && CheckTagsProductsRecord(item_tag.Id,Model.Id)){ <text>selected</text> } value="@item_tag.Id">@item_tag.Name</option>
                                                                }
                                                            </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                         <div class="row" style="margin-top:5px;">
                                            <div class="col-md-3 px-1">
                                                <div class="form-group">
                                                    <label>Discount</label>
                                                     <input type="number" min="0" max="100" value="@if(Model!=null){<text>@Model.Discount</text>}else{<text>0</text>}" name="discount" class="form-control" required>
                                                </div>
                                            </div>
                                            <div class="col-md-1 pl-1"></div>
                                            <div class="col-md-4 pl-1">
                                                <label>Hot</label>
                                                <div class="form-group">
                                                     <input type="checkbox" name="hot" id="hot" @if(Model != null && Model.Hot == 1){<text>checked</text>}>  <label for="hot">Hot</label>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row" style="margin-top:5px;">
                                            <div class="col-md-12 px-1">
                                                <label>Description</label>
                                                <div class="form-group">
                                                     <div class="col-md-10">
                                                        <textarea name="description" id="description">@if(Model!=null){<text>@Model.Description</text>}</textarea>

                                                        <script language="javascript">
                                                            CKEDITOR.replace("description");
                                                        </script>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                         <div class="row" style="margin-top:5px;">
                                         <div class="col-md-12 pl-1">
                                             <label>Content</label>
                                                <div class="form-group">
                                                    <div class="col-md-10">
                                                        <textarea name="content" id="content">@if(Model!=null){<text>@Model.Content</text>}</textarea>
                                                        <script language="javascript">
                                                             CKEDITOR.replace("content");
                                                        </script>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row" style="margin-top:5px;">
                                            <div class="col-md-10">
                                            <input type="submit" value="Save" class="btn btn-primary">
                                        </div>
                                        </div>
              
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card card-user">
                                <div class="card-image">
                                    <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" style="height:300px;width:364.6px;box-sizing:border-box;padding:10px;" alt="...">
                                </div>
                                <div class="card-body">
                                    <div class="author">
                                        <a href="#">
                                            <img class="avatar border-gray" src="~/assets/img/faces/face-2.jpg" alt="...">
                                            <h5 class="title">Name</h5>
                                        </a>
                                        <p class="description">Email</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="button-container mr-auto ml-auto">
                                    <button href="#" class="btn btn-simple btn-link btn-icon">
                                        <i class="fa fa-facebook-square"></i>
                                    </button>
                                    <button href="#" class="btn btn-simple btn-link btn-icon">
                                        <i class="fa fa-twitter"></i>
                                    </button>
                                    <button href="#" class="btn btn-simple btn-link btn-icon">
                                        <i class="fa fa-google-plus-square"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>